/* @media only screen and (max-width: 900px) {
    .MuiImageList-root {
      column-count: 3 !important;
    }
  } */

.MuiImageListItem-img:hover {
    opacity: 0.3;
}

.selected {
    opacity: 0.3
}