body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  background-image: url('https://gamepedia.cursecdn.com/identityv_gamepedia_en/thumb/6/65/Lakeside_Village_Village.jpg/532px-Lakeside_Village_Village.jpg?version=b5b6fca3190bcc9be383d5154843fb41');
  background-size: cover
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
